$color: #ff6332;
$color2: #a090ff;
$colorText: #1a1a1a;
$colorBG: #ffffff;

html {
  background: $colorBG;
  color: $colorText;
}
.wrapper {
  position: relative;
  background: none;

  // .wrapper__bg
  &__bg--hurma {
    position: absolute;
    width: 94vw;
    height: 100%;
    top: 34vw;
    left: 0;
  }

  // .wrapper__bg-line
  &__bg-line {
    stroke-dashoffset: 0;
    stroke-dasharray: 0 8000;
  }
}

.section {
  &-one {
    padding-top: 91vw;
    padding-top: calc(91vw + env(safe-area-inset-top));

    // .section-one__title
    &__title {
      margin-left: auto;
      position: relative;
      width: min-content;
      padding-right: 9vw;
      & span.anim-items.active:nth-child(2) {
        transition: opacity 0.5s 0.1s, transform 0.5s 0.1s;
      }
    }

    // .section-one__text
    &__text {
      position: relative;
      // z-index: 3;
      padding-bottom: 37.5vw;
      &.onload {
        & span.anim-items.active:nth-child(1) {
          transition: opacity 0.5s 0.5s, transform 0.5s 0.5s;
        }
        & span.anim-items.active:nth-child(2) {
          transition: opacity 0.5s 0.6s, transform 0.5s 0.6s;
        }
        & span.anim-items.active:nth-child(3) {
          transition: opacity 0.5s 0.7s, transform 0.5s 0.7s;
        }
        & span.anim-items.active:nth-child(4) {
          transition: opacity 0.5s 0.8s, transform 0.5s 0.8s;
        }
        & span.anim-items.active:nth-child(5) {
          transition: opacity 0.5s 0.9s, transform 0.5s 0.9s;
        }
        & span.anim-items.active:nth-child(6) {
          transition: opacity 0.5s 1s, transform 0.5s 1s;
        }
      }
      // .section-one__text .underline
      & .underline {
        position: relative;
        display: inline-block;

        // .section-one__text .underline::after
        &::after {
          position: absolute;
          content: "";
          height: 130%;
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
          z-index: -1;
        }

        // .section-one__text .underline--1::after
        &--1::after {
          width: 27vw;
          background-image: url(../img/season/hurma/hurma-underline1.svg);
          bottom: -8px;
          right: -4px;
        }

        // .section-one__text .underline--2::after
        &--2::after {
          width: 15.5vw;
          background-image: url(../img/season/hurma/hurma-underline2.svg);
          bottom: -6px;
          right: -4px;
        }

        // .section-one__text .underline--3::after
        &--3::after {
          width: 22.5vw;
          background-image: url(../img/season/hurma/hurma-underline3.svg);
          bottom: -3px;
          right: -4px;
        }

        // .section-one__text .underline--4::after
        &--4::after {
          width: 19.5vw;
          background-image: url(../img/season/hurma/hurma-underline4.svg);
          bottom: -4px;
          left: -2px;
        }
      }
    }

    // .section-one__hurma
    &__hurma {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 90vw;
      z-index: 1;
      transform: scale(1.5) rotate(-30deg);
    }

    // .section-one__hurma-img
    &__hurma-img {
      position: fixed;
      display: block;
      height: auto;
      z-index: 1;

      // .section-one__hurma-img.left
      &.left {
        top: 52vw;
        width: 71vw;
        left: -24vw;
        transform: rotate(25deg);
        animation: moveItemsBigLeft 5s infinite linear;
      }

      // .section-one__hurma-img.right
      &.right {
        top: -5vw;
        right: -9vw;
        transform: rotate(-18deg);
        width: 73vw;
        animation: moveItemsBigRight 6s infinite linear reverse;
      }
      // .section-one__hurma-img.bottom
      &.bottom {
        position: relative;
        margin: 0 auto;
        width: 55vw;
        right: 4vw;
        top: 0;
        animation: moveItemsBig 5s infinite linear;
      }

      // .section-one__hurma-img--lines
      &--lines {
        animation-delay: 0.7s !important;
      }

      // .section-one__hurma-img--back
      &--back {
        &.bottom {
        }
      }
    }

    // .section-one__hurma-img-star
    &__hurma-img-star {
      position: absolute;
      top: 229vw;
      left: 44vw;
      width: 13vw;
      height: auto;
      animation: moveItemsSmall 5s infinite linear;
    }

    // .section-one__hurma-img-mini
    &__hurma-img-mini {
      position: absolute;
      top: 280vw;
      right: 0vw;
      width: 34vw;
      height: auto;
      animation: moveItemsBig 5s infinite linear;
      /// .section-one__hurma-img-mini--lines
      &--lines {
        animation-delay: 0.7s !important;
      }
    }
  }

  // .section-two
  &-two {
    padding-bottom: 83vw;

    // .section-two__title
    &__title {
      font-size: 6vmin;
      line-height: 1.2;
      padding-bottom: 1.5vmin;
      text-align: left;

      span {
        // display: block;
        color: $color;
      }
    }
    &__text {
      margin-top: 6vw;
    }

    // .section-two__desc
    &__desc {
      position: relative;
      color: $color;
      // z-index: 3;
    }

    form {
      textarea {
        position: relative;
        &:focus,
        &:target,
        &:active {
          outline: none;
          border: $color 2px solid;
          // z-index: 3;
        }
      }
    }
  }
}
#round {
  background: $color;
}
.modal-story {
  background: $color;
}
.btn--hurma {
  border: $color 2px solid;
  background: $color;
  color: $colorText;
}
@keyframes moveItemsBigLeft {
  0% {
    transform: translate(0%, 0%) rotate(25deg);
  }
  10% {
    transform: translate(1%, 0%) rotate(25deg);
  }
  20% {
    transform: translate(2%, 1%) rotate(25deg);
  }
  30% {
    transform: translate(1.5%, 1%) rotate(24deg);
  }
  40% {
    transform: translate(0.5%, 0.5%) rotate(25deg);
  }
  50% {
    transform: translate(-1%, 0%) rotate(25deg);
  }
  60% {
    transform: translate(-0.5%, 1%) rotate(25deg);
  }
  70% {
    transform: translate(0%, 2%) rotate(26deg);
  }
  80% {
    transform: translate(1%, 0.5%) rotate(25deg);
  }
  90% {
    transform: translate(1%, -1%) rotate(25deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(25deg);
  }
}

@keyframes moveItemsBigRight {
  0% {
    transform: translate(0%, 0%) rotate(-18deg);
  }
  10% {
    transform: translate(1%, 0%) rotate(-18deg);
  }
  20% {
    transform: translate(2%, 1%) rotate(-18deg);
  }
  30% {
    transform: translate(1.5%, 1%) rotate(-19deg);
  }
  40% {
    transform: translate(0.5%, 0.5%) rotate(-18deg);
  }
  50% {
    transform: translate(-1%, 0%) rotate(-18deg);
  }
  60% {
    transform: translate(-0.5%, 1%) rotate(-18deg);
  }
  70% {
    transform: translate(0%, 2%) rotate(-17deg);
  }
  80% {
    transform: translate(1%, 0.5%) rotate(-18deg);
  }
  90% {
    transform: translate(1%, -1%) rotate(-18deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(-18deg);
  }
}
body.ready .section-one__hurma {
  transform: scale(1) rotate(0deg);
  transition: transform 1.5s 0.1s;
}
