// анимация
@keyframes letterRotate {
  from {
    transform: rotateY(0deg);
  }
  20% {
    transform: rotateY(90deg);
  }
  80% {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes smileRotate {
  from {
    transform: rotateY(90deg);
  }
  20% {
    transform: rotateY(90deg);
  }
  40% {
    transform: rotateY(180deg);
  }
  60% {
    transform: rotateY(180deg);
  }
  80% {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(90deg);
  }
}

#anim-smile {
  position: absolute;
  top: 2.7vmin;
  right: 8.7vmin;
  width: 11vmin;
  transform: rotateY(90deg);
  animation: smileRotate 2s 5s linear;
  animation-play-state: paused;
  transition: 0.5s;
}
#anim-letter {
  display: inline-block;
  transform: rotateY(0deg);
  animation: letterRotate 2s 5s linear;
  animation-play-state: paused;
  transition: 0.5s;
}

//основные стили
.section {
  scroll-snap-align: start;
  position: relative;
  z-index: 1;
  &__inner {
    position: relative;
  }
  &__container {
    padding: 9vmin;
    min-height: 100vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__desc {
    // transform: translateY(50%);
  }
  &__title {
    font-size: 16vmin;
    margin-bottom: 3vmin;
    margin-top: 2vmin;
    z-index: 1;
    font-weight: 500;
  }
  &__text {
    font-size: 5vmin;
    transition-delay: 0.2s;
  }
}
.send {
  &__wrapper {
    position: relative;
    &--interview {
      background: linear-gradient(14deg, #caffad 0%, #8fe35d 65%, #70e169 100%);
    }
    &--menu {
      color: #ff7a00;
    }
  }
  &__wrapper-img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__wrapper-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    & path {
      stroke-dasharray: 0 4150;
      stroke-dashoffset: 0;
    }
  }
  &__title {
    position: relative;
    font-size: 14vmin;
    // margin-top: 13vmin;
    margin-bottom: 2vmin;
    opacity: 0;
    animation: animTop 0.5s forwards;
    animation-play-state: paused;
    // mix-blend-mode: color-dodge;
  }
  &__text {
    text-transform: none;
    margin-bottom: 16vmin;
    opacity: 0;
    animation: animTop 0.5s 0.2s forwards;
    animation-play-state: paused;
    // mix-blend-mode: color-dodge;
  }
  &__star {
    position: absolute;
    top: -10vmin;
    left: -16vmin;
    width: 70vmin;
    animation: rotate-l 120s linear infinite;
    animation-play-state: paused;
  }
}

@keyframes rotate-l {
  //для зимнего менню
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.footer-note {
  position: absolute;
  bottom: 16vmin;
  opacity: 0;
  animation: animTop 0.5s 0.4s forwards;
  animation-play-state: paused;
  mix-blend-mode: color-dodge;
}

body.ready {
  #anim-smile,
  #anim-letter,
  .send__title,
  .send__text,
  .send__star,
  .footer-note {
    animation-play-state: running;
  }
  .send__wrapper-line path {
    stroke-dasharray: 4150 0;
    transition: 7s 0.3s ease-in-out;
  }
}
