$color: #edb981;
$color2: #d7a976;
$colorMIX: #d0b99f;

html {
  background: #1a1a1a;
}
.wrapper {
  position: relative;
  overflow: hidden;

  // background-image: url(../img/season/bgbg.jpg);
  // background-size: 100%;
  // background-position: 0% 0%;

  user-select: none;
  color: #000;
  font-weight: 500;
}

.container {
  padding: 0 6vmin;
}
.anim-items.active {
  transform: translateY(20vmin);
  opacity: 0;
}
.section {
  opacity: 0;
  position: relative;

  // .section-one
  &-one {
    padding-top: env(safe-area-inset-top);
    padding-bottom: 28vmin;

    // .section-one__bg
    &__bg {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  // .section-two
  &-two {
    // background: #1a1a1a;

    // .section-two__title
    &__title {
      font-size: 7.1vmin;
      line-height: 1.3;
      padding-bottom: 21vmin;
      text-align: right;
      span {
        display: block;
        color: $colorMIX;
        mix-blend-mode: color-dodge;
      }
    }

    // .section-two__bg
    &__bg {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    // .section-two__lines
    &__lines {
      position: absolute;
      mix-blend-mode: color-dodge;

      // .section-two__lines--left
      &--left {
        bottom: 40vw;
        left: 0;
        width: 65vw;
        &.anim-items {
          transform: translate(-15vw, 1vw);
          transition: transform 7s;
        }
      }
      // .section-two__lines--right
      &--right {
        bottom: 2vw;
        right: 0;
        width: 45vw;
        &.anim-items {
          transform: translate(15vw, -1vw);
          transition: transform 7s;
        }
      }
    }
  }
} //.section

.slider-title {
  width: auto;
  height: 100%;
  display: flex;
  margin-bottom: 15vw;
  transform: translateX(110vw);

  //.slider-title__item
  &__item {
  }
  //.slider-title__item-img
  &__item-img {
    display: block;
    position: relative;
    height: 45.5vw;
    top: -6vw;
    transform: translateX(-10vw);
    margin-right: 5vw;
  }
}

.arrows {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
  margin-bottom: 3vw;
  animation: headShake infinite 3s 7s ease-in-out;
  // .arrows__img
  &__img {
    display: block;
    width: 9vw;

    &.l {
      transform: translateX(100%);
      opacity: 0;
    }
    &.r {
      transform: rotate(180deg) translateX(100%);
      opacity: 0;
    }
    &.one {
      transition: 1s 0s;
    }
    &.two {
      transition: 1s 0.1s;
    }
    &.three {
      transition: 1s 0.2s;
    }
    &.hide {
      opacity: 0 !important;
      transition: 0.5s !important;
    }
  }

  // .arrows__text
  &__text {
    font-size: 6.5vw;
    font-weight: 300;
    color: #d7a976;
    text-transform: none;
    vertical-align: middle;
    margin: 0 4vw;
    opacity: 0;
  }
}

.slider-drink {
  position: relative;
  width: 100vw;
  height: 68vw;
  display: flex;
  margin-bottom: 15vw;

  //.slider-drink__item
  &__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.drink {
      opacity: 0;
      transition: opacity 1s;
      &.show {
        opacity: 1;
      }
    }
  }
  //.slider-drink__item-img
  &__item-img {
    position: relative;
    height: 100%;
    left: 26vw;
  }
}

.slider-text {
  width: 400vw;
  height: 100%;
  display: flex;
  white-space: nowrap;
  transform: rotate(5.89deg) translateX(-100%);

  font-weight: 500;
  font-size: 5vw;
  line-height: 120%;
  color: $colorMIX;
  mix-blend-mode: color-dodge;

  // .slider-text__item
  &__item {
    width: 100vw;
    padding-left: 26vw;
  }
}

.footer-note {
  padding-top: 24vmin;
  padding-bottom: 23vmin;
  padding-left: 21vmin;
  font-weight: 600;
  color: #fff;
  &.anim-items {
    transform: translateY(30%);
    &.active {
      transform: translateY(0%);
    }
  }
  span {
    font-size: 3.5vmin;
    font-weight: 400;
    padding-left: 0;
    &::before {
      content: none;
    }
  }
}
.footer-btn {
  color: #000;
  background: $color2;
  font-size: 4.5vw;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 99;
  &__inner {
    transform: translateY(100%);
    transition: 0.3s;
    position: relative;
    background: url(../../assets/img/season/bg-modal.jpg);
    background-position: center;
    background-size: cover;
  }
  &__img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__content {
    position: relative;
    width: 100%;
    height: 100vmax;
    padding: 9vmin 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__text {
    color: $colorMIX;
    mix-blend-mode: color-dodge;
    font-size: 7.3vmin;
    letter-spacing: 1px;
    width: 100%;
  }
  &.active {
    opacity: 1;
    pointer-events: all;
    .modal__inner {
      transform: translateY(0);
    }
  }
  form {
    width: 100%;
    padding-top: 8vmin;
    textarea {
      width: 100%;
      height: 45vmin;
      resize: none;
      background: transparent;
      outline: none;
      border-radius: 5px;
      border: $colorMIX 2px solid;
      color: $colorMIX;
      mix-blend-mode: color-dodge;
      padding: 2vmin 3vmin;
      font-family: "Stolzl", sans-serif;
      font-size: 3.5vmin;
      font-weight: 400;
      margin-bottom: 13vmin;
      transition: 0.3s;
      &:focus,
      &:target,
      &:active {
        outline: none;
        border: $color2 2px solid;
      }
    }
  }
} //modal
.btn {
  border: $color 2px solid;
  color: $color;
  font-size: 5.5vw;
  padding: 2.5vw 15vw;
  margin: 0 auto 32px;
}
.btn--green {
  background: #00da3d;
  border: #00da3d 2px solid;
  color: #000;
}
.btn--season {
  background: $color;
  color: #000;
}
.btn-close {
  position: absolute;
  display: block;
  width: 8.5vmin;
  height: 8.5vmin;
  transition: 0.3s;
  transition-delay: 0.2s;
  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  span {
    display: block;
    top: 3vmin;
    width: 8vmin;
    height: 2.2vmin;
    background: $color;
    transform: rotate(45deg);
    position: absolute;
    &:first-child {
      transform: rotate(-45deg);
    }
  }
} //.btn-close

.modal-no {
  &__btn {
    bottom: 20vmin;
    left: calc(50% - 4.25vmin);
  }
  .btn-close {
    transform: translateY(300%);
  }
  &.active .btn-close {
    transform: translateY(0%);
  }
}

.modal-yes {
  &__btn {
    top: 9vmin;
    right: 0;
    // @media screen and (max-height: 500px) {
    //   display: none;
    // }
  }
  .btn-close {
    transform: translateX(300%);
  }
  &.active .btn-close {
    transform: translateX(0%);
  }
}

//переопределение чата живосайта
.wrap_196d {
  z-index: 10 !important;
}
.preload {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vmax;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5vmin;
  font-weight: 400;
  color: #52ae32;
  transition: 0.1s;
  pointer-events: none;
  background-color: #fff;
}
.preload__img {
  position: relative;
  display: block;
  -webkit-animation: rotateSmile 3s infinite linear;
  animation: rotateSmile 3s infinite linear;
  width: 12vmin;
  height: 12vmin;
}
body.ready {
  .anim-items.active {
    transform: translateY(0);
    opacity: 1;
  }
  .section {
    opacity: 1;
    transition: opacity 1s;
  }
  .slider-title {
    transform: translateX(0);
    transition: transform 2s 0.5s;
  }
  .slider-text {
    transform: rotate(5.89deg) translateX(-75%);
    transition: transform 2s 0.5s;
  }
  .arrows {
    &__text {
      opacity: 1;
      transition: opacity 1s 2s;
    }
    &__img {
      &.l {
        transform: translateX(0);
        opacity: 1;
      }
      &.r {
        transform: rotate(180deg) translateX(0);
        opacity: 1;
      }
      &.one.start {
        transition: 1s 2.5s;
      }
      &.two.start {
        transition: 1s 2.7s;
      }
      &.three.start {
        transition: 1s 2.9s;
      }
    }
  }
}

jdiv,
#jivo-iframe-container {
  display: none !important;
}

@keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  3.25% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }

  9.25% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }

  15.75% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }

  21.75% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }

  25% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
